.app-container{
    background: linear-gradient(180deg, rgb(51, 7, 109), rgb(88, 46, 122));
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .login.login-form{
    display: none;
} */